.container-fluid {

    background-color: #063B4C;
}



.fizzbuzz {

    background-color: #F0466F;
    height: 150px;
    line-height: 150px;
    width: calc(100% / 7);
    border: 1px solid yellow;
}

.fizz {

    background-color: #0FD6A1;
    height: 150px;
    line-height: 150px;
    width: calc(100% / 7);
    border: 1px solid yellow;
}

.buzz {
    background-color: #FFD166;
    height: 150px;
    line-height: 150px;
    width: calc(100% / 7);
    border: 1px solid yellow;
}

.number {

    background-color: #0F89B2;
    height: 150px;
    line-height: 150px;
    width: calc(100% / 7);
    border: 1px solid yellow;
}