.container-fluid {

    background-color: #063B4C;
}

.classic__box {

    height: 150px;
    margin: 8px;
    line-height: 150px;
    width: calc((100% / 7) - 16px);
    border: 1px solid yellow;

}

.fizzbuzz {

    background-color: #F0466F;
}

.fizz {

    background-color: #0FD6A1;
}

.buzz {
    background-color: #FFD166;
}

.number {

    background-color: #0F89B2;
}